<%= form_for :information, :url => show_films_path, :method => :get do |f| %>
  <div>
    <% date = params[:information].present? ? params[:information][:date] : "" %>
    <%= f.label "Дата:" %>
    <%= f.text_field :date, value: date %>
  </div>
  <div>
    <% hall = params[:information].present? ? params[:information][:hall] : "" %>
    <%= f.label "Зал:" %>
    <%= f.text_field :hall, value: hall %>
  </div>
  <div>
    <%= f.submit :ok %>
  </div>
<% end %>
<% if params[:information].present? and params[:information][:date].present? %>
  <div>
    <h3>Фильмы на <%= params[:information][:date] %>. В зале <%= params[:hall] %> </h3>
    <% @films.each do |film| %>
      <%= film.name+" "+film.time+" "+film.price.to_s %><br>
    <% end %>

  </div>
<% end %>